* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}

:root {
  --bg-color: #fff;
  --snd-bg-color: #d5fdf9;
  --text-color: #000;
  --main-color: #3797ba;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Header Section Code  */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: var(--main-color);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

.logo {
  font-size: 3rem;
  color: var(--bg-color);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar a {
  font-size: 1.9rem;
  color: var(--bg-color);
  margin-left: 4rem;
  font-weight: 700;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: var(--text-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--bg-color);
  cursor: pointer;
  display: none;
}

/* Home Section Code */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4s ease;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
    0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-content {
  margin-left: 5rem;
}

.home-content h3 {
  font-size: 3.7rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
}

/* About Section Code */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--snd-bg-color);
}

.about-img img {
  width: 25vw;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
    0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}

.heading {
  font-size: 5.6rem;
  text-align: center;
}

.about-content {
  padding: 0 4rem;
}

.about-content h2 {
  text-align: left;
  line-height: 2.2;
}

.about-content h3 {
  font-size: 3rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 1rem 0 1.8rem;
}

.about-resumebtn {
  margin-top: 6rem;
}

.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}

.resumebtn .btn:hover {
  background: #1a047e;
}

.resumebtn .btn:hover i {
  transform: translateX(5px);
}

/* Education Section Code */

.education {
  background: #e5ecfb;
  min-height: 90vh;
}

.education .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}

.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}

.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}

.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}

.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}

.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}

.education h4 {
  font-size: 2rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* Project Section Code */

.Project {
  /* background: #010124; */
  background: linear-gradient(to bottom, #000031, #00002c);
}

.Project h2 {
  color: #fff;
  padding: 1rem;
}

.Project .heading span {
  color: rgb(255, 230, 0);
}

.Project .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem;
}

.Project .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 30rem;
}

.Project .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.Project .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
}

.Project .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  padding-left: 1rem;
  background: #ffd900;
}

.Project .box-container .box .content .tag h3 {
  font-size: 2rem;
}

.Project .box-container .box:hover .content {
  top: 25%;
}

.Project .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Project .desc p {
  font-size: 1.5rem;
}

/* Skill Section Code */

/* General Section Styling */
.Skills {
  padding: 50px 0;
  background: #f9f9f9;
  text-align: center;
}

.section_heading h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.section_heading h2 span {
  color: #007bff;
}

.section_heading p {
  color: #666;
  font-size: 16px;
}

.sm_border {
  width: 60px;
  height: 3px;
  background: #007bff;
  margin: 10px auto;
}

/* Skill Bars */
.skills-progress {
  max-width: 600px;
  margin: 30px auto;
  text-align: left;
}

.skills-progress h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 20px;
}

.skill h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.progress {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #007bff;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  line-height: 12px;
  border-radius: 6px;
  transition: width 1s ease-in-out;
}



/* Contact Section Code */

.contact {
  background: #e5ecfb;
  min-height: 60vh;
}

.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}

.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}

.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}

.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}

.field input:focus~i,
.message textarea:focus~i {
  color: rgb(115, 3, 167);
}

form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}

form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}

.button-area button:hover {
  background: #421cecf5;
}

.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}

.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}

.button-area button:hover i {
  left: 8px;
}

/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }

  .contact .container {
    margin: 3rem 0 2rem 0;
  }

  .contact .container .content {
    padding: 18px 12px;
  }

  .contact .content .image-box {
    display: none;
  }

  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}

/* Footer Section Code */
.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}

.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}

.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: #ffae00;
}

.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}

.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}

.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}

.footer .credit a {
  color: #ffae00;
}

.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }

  .footer .box-container .box p {
    padding: 0.7rem;
  }

  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}

/* Responsive Design Code */

@media (max-width: 1200px) {
  html{
    font-size: 55;
  } 
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  .section {
    padding: 10ren 3%;
  }
  .Project {
    padding: 7rem;
  }
  .Skills.sm_border {
    grid-template-columns: repeat(1,1fr);
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 991px) {
  #menu-icon {
    display: block;
  }
  .navbar{
    position:absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }
  .navbar a{
    display: block;
    padding: 17px;
    font-size: 22px;    
  }
  .navbar.active {
    right: 0;
  }
  .home{
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content {
    order: 2;
    margin-left: 1rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .project h2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 617px){
  .home-img img {
    width: 70vw;
    margin-top: 8rem;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}

@media (max-width: 617px) {
  html {
    font-size: 50%;
  }
}